.dropdown{
    display: flex;    
}

.selector{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}   

.heading{
    text-align: center;
    margin-top: 20px;
}

.selected{
    text-align: center;
    margin-top: 20px;
}